/* CSS */

html, body{
	width: 100%; height: 100%;
	font-family: "M PLUS 1p", serif;
}

header {
	background-image: url(../images/siroback.jpeg);
	padding: 10px 0;
}

.navbar-brand {
	color: 	#612c16;
	font-family: "Playwrite DE Grund", serif;
}

.navbar-brand img{
	width: 28px; height: auto;
	margin: 0px 5px; padding: 0px;
	border-radius: 14px;
}


/* ハンバーガーメニューのスタイリング */
.navbar-toggler{
	/* 　ハンバーガーメニューの外枠を無色透明にする */
	border-color: rgba(0,0,0,0);
	/* ハンバーガーメニューをクリックした後に表示される枠線を消す */
	&:focus {
		box-shadow:none !important;
	}

	   /* ハンバーガーメニューの３本線のスタイリング */
	.navbar-toggler-icon{
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(97,44,22,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
}


.navbar .navbar-toggler {
	color: #612c16;
}

.navbar .navbar-nav {
}

.navbar .navbar-nav .nav-link {
	color: 	#612c16;
	text-align: center;
	padding-right: 0;
}

.navbar .navbar-nav .nav-item {
	padding-left: 10px;
}

.navbar .navbar-nav .nav-link span {
	font-size: 10px;
	color: #D5CAB9;
}

li+ li {
	border-left: 1px solid #333;
	margin: 0 10px;
	border-color: #612c16;
}

.my_key{
	width: 100%; height: 900px;
	padding: 12rem 0px;
	background-color: lightsteelblue;
	background-image: url("../images/sweetsback.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: right;
	background-size: cover;
	color: white;
}

@media screen and (max-width: 1085px) {

	.my_key{
		height: 500px;
	}

}

@media screen and (max-width: 991px) {

	li+ li {
		border-left: none;
		border-top: 1px solid #333;
	}

	.navbar .navbar-nav .nav-item {
		padding: 5px 50px;
	}
}

@media screen and (max-width: 414px) {

	.my_key{
		height: 300px;
	}

}